*{
    padding:0px;
    margin: 0px;
}
.contentArea{
    width:100%;
    margin-top: 50px;
    height:auto;

    background-color:white;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

}
.logContainer
{
    width:100%;
    height:auto;
    background-color: #222222;
    padding:10px;
}

.logBar{
    width:100%;
    height:auto;

    display:flex;
    justify-content: space-between;

}

.iconsLogs{
    width:120px;
    height:40px;
    display:flex;
    justify-content:space-evenly;
    align-items: center;

}
.iconsLogs button{
    display:flex;
    background-color:#13141488;
    opacity:0.3;
    flex-direction: column;
    align-items: center;
    transition: 0.5s ease;
    padding:10px;
    justify-content: center;
}
.zoomIn,.zoomOut{
    color:white;
  
    border:none;
    outline:none;
    border-radius: 5px;
    font-size:20px;
    margin-right: 2px;

}

.iconsLogs button:hover{
    transition: 0.5s ease;   
    opacity:1;
}


/* width */
::-webkit-scrollbar {
    width:5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: green; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: green; 
  }


#logs{
    width:100%;
    height:400px;
    overflow-y: scroll;
    font-size: 13px;
}
.log{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    

}
.logMessage{
    width:30%;
    height:auto;
    color:white;
    font-size: 20px !important;

}
.datex{
    width:20%;
    color:rgb(60, 255, 0);
}
.remPortion{
    width:80%;
}
