
* {
  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* we use dot (.) to target class and
hash (#) to target id... */
#particles-js {
    width: 100%;
    height: 70vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url("https://www.timeatlas.com/wp-content/uploads/server-log-snap.png");
    background-position: center;
    background-size: cover;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav{
width: 100%;
height: 10%;
background-color: #0009;
line-height: 500%;
padding: 0%;
}
nav ul{
float: right;
margin-right: 2%;
padding-right: 10px;


}

nav ul li
{ list-style-type: none;
display: inline-block;
transition: 0.8s all;

}
nav ul li:hover{

background-color: greenyellow;
}
nav ul li a
{
text-decoration: none;
color: white;
padding: 10;
}
#navbar{
position: absolute;
}



.center-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-text h1 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
.center-text p {
    margin-top: 10%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}



.usage
{
top: 97%;
left: 50%;
transform:translate(-50%,-50%);
position: absolute;
width: max-content;
height: 42%;
}

.card{
border: 1px solid black;
height: 100%;
width: max-content;
text-align: center;
display: inline-block;
margin: 5px;
border-radius: 10%;
}

.card img{
width: 180px;
padding: 10px;
}

footer {
    top: 130%;
     width: 100%;
     position: absolute;
      text-align: center;
      padding: 3px;
      background-color: rgb(66, 66, 66);
      color: white;
    }
  
  
  
  
  
  
    .fa {
      padding: 14px;
      font-size: 15px;
      width: 4%;
      height: 40px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 100%;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
      background: #3B5998;
      color: white;
      position: absolute;
      text-align: center;
      
    }
    
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    
    .fa-google {
      background: #dd4b39;
      color: white;
    }
    
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }
    
    .fa-youtube {
      background: #bb0000;
      color: white;
    }
    
    .fa-instagram {
      background: #125688;
      color: white;
    }
    
    .fa-pinterest {
      background: #cb2027;
      color: white;
    }
    
    .fa-snapchat-ghost {
      background: #fffc00;
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    
    .fa-skype {
      background: #00aff0;
      color: white;
    }
    
    .fa-android {
      background: #a4c639;
      color: white;
    }
    
    .fa-dribbble {
      background: #ea4c89;
      color: white;
    }
    
    .fa-vimeo {
      background: #45bbff;
      color: white;
    }
    
    .fa-tumblr {
      background: #2c4762;
      color: white;
    }
    
    .fa-vine {
      background: #00b489;
      color: white;
    }
    
    .fa-foursquare {
      background: #45bbff;
      color: white;
    }
    
    .fa-stumbleupon {
      background: #eb4924;
      color: white;
    }
    
    .fa-flickr {
      background: #f40083;
      color: white;
    }
    
    .fa-yahoo {
      background: #430297;
      color: white;
    }
    
    .fa-soundcloud {
      background: #ff5500;
      color: white;
    }
    
    .fa-reddit {
      background: #ff5700;
      color: white;
    }
    
    .fa-rss {
      background: #ff6600;
      color: white;
    }